<ul class="nav menu right">
    <li class="logo">
      <%= link_to root_path do %>
        <span>RADIO</span> shifter
      <% end %>
    </li>
    <li>
      <% if user_signed_in? %>
        <%= link_to recording_schedules_path do %>
          Dashboard
        <% end %>
        <ul>
          <li>
            <%= link_to destroy_user_session_path do %>
              Log Out
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= link_to recording_schedules_path do %>
          <i class="icon-angle-right"></i>
          Log In
        <% end %>
      <% end %>
    </li>
  </ul>
