html {
  height: 100%;
}

.beta {
  left: 189px;
  top: 13px;
  z-index: 1000;
  width: 45px;
  height: 25px;
  position: absolute;
  right: 19px;
  overflow: visible;

  span {
    color: #8f8f8f;
    text-transform: uppercase;
    background: #430006;
    padding: 5px;
    border-radius: 13px;
    font-weight: bold;
  }

}

body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: #fff;
  font: normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
}

.content {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.footer {
  height: 50px;
  width:100%;
  text-align: center;
  background: #404040;
  padding: 10px;
  color: #ccc;
  i { margin-right: 5px;}
  a { color: #ccc; }
}

.callout {
  color: #fff;
  background: #447684;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

*[class*="col_"].middle {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.flash.notice {
  margin: 0;
  border-radius: 0;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;

  .button {
    i {
      position: initial;
    }
  }
}

.notice {
  text-align:center;
}

span.error { color: red; }

.notice.info {
  background: #CCE7F4;
  border-color: #6C939F;
  color: #265B6A;
}

.field_with_errors {
  .error { color: red; }
}

form {
  span.help-text { color: #999; }
}

