.menu {
  color: #8f8f8f;

  li.logo {
    float: left;
    font-weight: bold;
    letter-spacing: 5px;
  }
  li.logo a { padding-left: 10px;}
  li a { color: #8f8f8f; text-transform: uppercase; }

  background: #333;
  border: 1px #333 solid;
  ul { background: #333; right: 0;}
  li ul { left: auto;}
  li.hover>a { background:#222; }
  li a {
    &:hover { background:#222; }
  }
  li a, li.hover {
    text-shadow: none;
  }
}
