<% content_for :callout do %>
  <div class="callout">
    <div class="description">
      <h2>Radio Shifter listens when you can't.</h2>
      <p>
        Scheduled streaming radio recordings sent to your Dropbox account.
      </p>
      <%= link_to recording_schedules_path, class: "button large green" do %>
        Get Started<i class="icon-dropbox"></i>
      <% end %>
    </div>
    <%= image_tag('home/product.png', class: 'product') %>
  </div>
<% end %>

<div class="callout-footer">
  <div class="quote">
    <p>
      <i class="icon-quote-left"></i>
      These guys operate on my wavelength.
    </p>
    <p><span><strong>- Gugliemo Marconi</strong>, Inventor of Radio.</span></p>
    <small><em>This is 100% unfounded.</em></small>
  </div>
</div>