<div class="login col_6" %>
  <%= link_to user_omniauth_authorize_path(:dropbox_oauth2), class: 'button blue large icon-3x' do %>
    <i class='icon-dropbox'></i>
    Sign in using Dropbox
  <% end %>
</div>
