<div class="details">
  <% if recording_schedule.last_run_at %>
    <div>
      <small>
        <span>Last run at </span>
        <%= recording_schedule.last_run_at.in_time_zone(current_user.time_zone).to_s(:long)%>
      </small>
    </div>
    <div>
      <small><%= link_to 'Log', recording_schedule_log_path(recording_schedule) %></small>
    </div>
  <% end %>
</div>