<%= form_for recording_schedule, as: :recording_schedule, url: url, html: { class: 'vertical' } do |f|%>
  <%= f.hidden_field :duration %>
  <div class="col_12">
    <%= f.label :name, "Recording Name" %>
    <%= f.text_field :name, placeholder: 'My Show' %>
  </div>
  <div class="col_12">
    <%= f.label :stream_url, "Stream URL" %>
    <%= f.text_field :stream_url, placeholder: 'http://servername.com:1234/some/audio/source' %>
    <span class="help-text">
      <%= mail_to 'info@radioshifter.com', 'Contact us' %> if you need help finding the Stream URL for the radio station you want to record.
    </span>
  </div>
  <ul class="tabs left">
    <li class="<%= current_class(recording_schedule.recurring?) %>">
      <a href="#tab_repeat_recording" data-recurring="true">Repeat Recording</a>
    </li>
    <li class="<%= current_class(!recording_schedule.recurring?)%>">
      <a href="#tab_record_once" data-recurring="false">Record Once</a>
    </li>
  </ul>
  <div class="time_range">
    <div class="start_at col_6">
      <%= f.label :start_time, "Start At" %>
      <%= f.text_field :start_time %>
    </div>
    <div class="col_6">
      <%= f.label :stop_time, "Stop At" %>
      <%= f.text_field :stop_time %>
    </div>
  </div>
  <%= f.hidden_field :recurring %>
  <div id="tab_repeat_recording" class="tab-content">
    <% if recording_schedule.errors[:days_of_week].present? %>
      <span class="error"><%= recording_schedule.errors[:days_of_week].join %></span>
    <% end %>
    <%= hidden_field_tag "recording_schedule[days_of_week][]", nil %>
    <% Date::DAYNAMES_MAP.each_pair do |day, i| %>
      <div class="col_4">
        <label class='clickable'>
          <%= f.check_box :days_of_week, {multiple: true }, i, nil %>
          <%= day %>
        </label>
      </div>
    <% end %>
  </div>
  <div id="tab_record_once" class="tab-content">
    <%= f.select :start_on, start_on_options,  {include_blank: 'Choose a day'} %>
  </div>
  <%= submit_tag 'Save', class: 'button green' %>
<% end -%>
