<div class="notice info">

  You don't have any recording schedules setup yet.

  <%= link_to new_recording_schedule_path, class: 'button green' do %>
    Create My First Recording Schedule
  <% end -%>
</div>
