<div class="recording_schedule_card">
  <div class="col_10">
    <h5 class="title">
      <i class="icon-circle recording-status <%=recording_status_class(recording_schedule)%>"></i>
      <%= recording_schedule.name %>
    </h5>
    <p>
      <%= recording_schedule.human_readable_schedule %>
    </p>
    <%= render partial: 'details', locals: { recording_schedule: recording_schedule } %>
  </div>
  <div class="col_2 actions">
    <%= link_to 'Edit', edit_recording_schedule_path(recording_schedule), class: 'button blue' %>
    <%= link_to 'Delete', recording_schedule, method: :delete, data: { confirm: 'Are you sure you want to delete this schedule?' }, class: 'button red' %>
  </div>
  <div class="clearfix"></div>
</div>
