<%= render 'no_schedules' unless @recording_schedules.present? %>
<% if @recording_schedules.present? %>
  <div class="recordings">
    <div class="header col_12">
      <%= link_to time_zone_path, class: 'time_zone button' do %>
        <i class="schedule_icon icon-time icon"></i>
        <%= current_user.time_zone %>
      <% end %>
      <%= link_to new_recording_schedule_path, class: 'new_button button green' do %>
        New
      <% end -%>
    </div>

    <% @recording_schedules.each do |recording_schedule| %>
      <%= render partial: 'recording_schedule_card', locals: {recording_schedule: recording_schedule } %>
    <% end %>
  </div>
<% end %>
