.home {
  background: #ccc;

  .callout {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url(image-path("home/content_bg_3.jpg"));
    background-size: cover;
    background-clip: content-box;

    .description {
      padding-top: 100px;
      margin-bottom: 100px;
      h2 {
        margin: 0 0 0 0;
        text-shadow: 1px 1px #000;
      }
      p {
        font-size: 18px;
        text-shadow: 1px 1px #000;
      }
      a {
        margin-top: 25px;
        font-size: 25px;
        i { padding-left: 5px; }
      }
    }

    img.product {
      max-width: 80%;
      height: auto;
      border: 5px solid #ccc;
      border-radius: 5px 5px 0 0;
      border-bottom: 0;
    }
  }

  .callout-footer {
    background: #ccc;
    color: #3f3f3f;
    margin: 0 0 0 0;

    text-align: center;

    .quote {
      small {color: #3f3f3f; }
      p {
        &:first-child {
          font-size: 25px;
        }
        margin-top: 0 0 10px 0;
        font-size: 15px;
      }
    }

  }

  .content {
    height: 180px;
    min-height: 180px;
  }
}
