.recording_schedules.new, .recording_schedules.create, .recording_schedules.edit, .recording_schedules.update {

  label.clickable {
    &:hover { cursor: pointer; }
  }

  .time_range {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    overflow: hidden;
    padding-top: 10px;
    clear: both;

    div {
      margin: 0;
      padding: 0 10px 0 20px;
    }
  }

  .tab-content {
    border-top: none;
    padding-top: 0px;
  }

  #tab_repeat_recording {
    span.error { display: block; }
  }

  #tab_record_once select {
    width: initial;
    display: inline;
    font-size: 1.2em;

  }
}

.recording_schedules.index {
  .header {
    width: 99%;
    margin: 0 0 10px 0;

    .time_zone.button { float: left; }

    text-align: right;
    .new_button {
      text-align: center;
      min-width: 84px;
    }

    hr {
      margin-top: 0;
    }
  }

  .recording_schedule_card {
    clear: both;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;

    h5 { margin-top: 0px; }
    p {
      position: relative;

    }

    .recording-status.recording { color: #660000; }
    .recording-status.sleeping { color: #888; }

    .actions {
      text-align: right;
      .button {
        text-align: center;
        min-width: 84px;
        margin-bottom: 2px;
      }
    }

    .details div {
      display: inline-block;
      color: #888;
    }

    .details div:not(:last-child) {
      border-right: 1px solid;
      padding-right: 5px;
    }
  }

}
