<div class="col_6 middle">
  <%= form_for current_user, url: time_zone_path do |f| %>
    <p>
      Set the recording clock your local time.
    </p>
    <%= f.time_zone_select :time_zone, /US/, prompt: "Choose your timezone"  %>
    <%= submit_tag 'Save', class: 'button green' %>
  <% end %>
</div>
