<!DOCTYPE html>
<html>
<head>
  <title>Radio Shifter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%=body_class%>">
  <div class="beta"><span>Beta</span></div>
  <%= render 'layouts/shared/nav' %>
  <%= render 'layouts/shared/flash' %>
  <%= yield :callout %>
  <div class="grid flex content">
    <%= yield %>
  </div>
  <div class="footer">
    <i class="icon-envelope"></i>
    <span class="encoded">
      <%= rot13(mail_to 'info@radioshifter.com', 'info@radioshifter.com') %>
    </span>
  </div>
</body>
</html>
